<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.books.hondana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".VolleyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_MyActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.kii.cloud.analytics.EventUploadService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BarcodeScanActivity" />
        <activity android:name=".GuideListActivity" />
        <activity
            android:name=".GuideActivity_01"
            android:label="@string/title_activity_guide01" />
        <activity
            android:name=".GuideActivity_02"
            android:label="@string/title_activity_guide02" />
        <activity
            android:name=".InquiryActivity"
            android:label="@string/title_activity_inquiry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LikesActivity"
            android:label="@string/title_activity_likes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LikesSelectedActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".SwapBookActivity"
            android:label="@string/title_activity_swap_book"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>