<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.books.hondana" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".VolleyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_MyActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <service android:name="com.kii.cloud.analytics.EventUploadService" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_MyActivity"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.BarcodeScanActivity" />
        <activity android:name=".activity.GuideActivity_01" />
        <activity android:name=".activity.GuideActivity_02" />
        <activity
            android:name=".activity.InquiryActivity"
            android:label="@string/title_activity_inquiry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LikesActivity"
            android:label="@string/title_activity_likes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SelectedBooksActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SwapBookActivity"
            android:label="@string/title_activity_swap_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RequestActivity"
            android:label="@string/title_activity_request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SetActivity"
            android:label="@string/title_activity_set"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SetActivity_01" />
        <activity android:name=".activity.SetActivity_02" />
        <activity
            android:name=".activity.EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserpageActivity"
            android:label="@string/title_activity_userpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BaseScannerActivity" />
        <activity
            android:name=".activity.BookDetailActivity"
            android:label="@string/title_activity_swap_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BookMainActivity"
            android:label="@string/title_activity_swap_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BookSearchListActivity" />
        <activity android:name=".activity.SimpleScannerActivity" />
        <activity android:name=".activity.SearchActivity" >
        </activity>
    </application>

</manifest>